# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [157]:
# import numpy and pandas
import numpy as np
import pandas as pd
from statistics import mean
from scipy.stats import chi2_contingency

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [66]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [67]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [68]:
pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [82]:
# Your code here:
pokemon_legend = pokemon['Legendary'] == True
mean_pokemon_legend = pokemon.loc[pokemon_legend, 'Total'].mean()
std_pokemon_legend = pokemon.loc[pokemon_legend, 'Total'].std()

print("The mean of the Total for legendary pokemon is: " ,mean_pokemon_legend)
print("Standard deviation the Total for legendary pokemon is: " ,std_pokemon_legend)

The mean of the Total for legendary pokemon is:  637.3846153846154
Standard deviation the Total for legendary pokemon is:  60.93738905315346

In [84]:
# Your code here:
pokemon_non_legend = pokemon['Legendary'] == False
mean_pokemon_non_legend = pokemon.loc[pokemon_non_legend, 'Total'].mean()
std_pokemon_non_legend = pokemon.loc[pokemon_non_legend, 'Total'].std()

print("The mean of the Total for legendary pokemon is: " ,mean_pokemon_non_legend)
print("Standard deviation the Total for legendary pokemon is: " ,std_pokemon_non_legend)

The mean of the Total for legendary pokemon is:  417.21360544217686
Standard deviation the Total for legendary pokemon is:  106.76041745713022

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [124]:
# Your code here:
from scipy import stats

stats.ttest_ind(pokemon.loc[pokemon_legend, 'Total'], pokemon.loc[pokemon_non_legend, 'Total'],equal_var = False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [123]:
# Your conclusions here:
print("We have two samples; legendary & non-legendary pokemons and with assumption of both variance  not equal. From the end results of ttest_ind, P_value is 9.36xe-47 which is very very less than 0.05 and hence we reject the null hypothesis here!")

We have two samples; legendary & non-legendary pokemons and with assumption of both variance  not equal. From the end results of ttest_ind, P_value is 9.36xe-47 which is very very less than 0.05 and hence we reject the null hypothesis here!

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [99]:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ground       32
Dragon       32
Ghost        32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [118]:
water_pokemon

0      False
1      False
2      False
3      False
4      False
       ...
795    False
796    False
797    False
798    False
799    False
Name: Type 1, Length: 800, dtype: bool

In [113]:
water_pokemon = pokemon['Type 1'] == 'Water'
mean_water_pokemon = pokemon.loc[water_pokemon, 'Total'].mean()
std_water_pokemon = pokemon.loc[water_pokemon, 'Total'].std()

non_water_pokemon = pokemon['Type 1'] != 'Water'
mean_non_water_pokemon = pokemon.loc[non_water_pokemon, 'Total'].mean()
std_non_water_pokemon = pokemon.loc[non_water_pokemon, 'Total'].std()

print("The Mean of Total for water pokemons is: ", mean_water_pokemon)
print("The Standard deviation for water pokemon is: ", std_water_pokemon)
print(" ")
print("The Mean of Total for non-water pokemons is: ", mean_non_water_pokemon)
print("The Standard deviation for non-water pokemon is: ", std_non_water_pokemon)

The Mean of Total for water pokemons is:  430.45535714285717
The Standard deviation for water pokemon is:  113.18826606431458

The Mean of Total for non-water pokemons is:  435.85901162790697
The Standard deviation for non-water pokemon is:  121.09168230208066

In [25]:
# Your code here:

The Mean of Total for water pokemons is: 430.45535714285717
The Standard deviation for water pokemon is: 113.18826606431458

The Mean of Total for non-water pokemon is: 435.85901162790697
The Standard deviation for non-water pokemon is: 121.09168230208066

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [119]:
stats.ttest_ind(pokemon.loc[water_pokemon, 'Total'], pokemon.loc[non_water_pokemon, 'Total']) # assumin variances are equal

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [10]:
# Your conclusions here:
print("From the end result of ttest_ind, p value we get is 0.66 which is greater than 0.05 and hence we accept the null hypothesis and can say both pokemon are dependent.")

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [136]:
mean_pokemon_attack = pokemon['Attack'].mean()
mean_pokemon_defense = pokemon['Defense'].mean()

print("Pokemon's Attack mean is: ", mean_pokemon_attack)
print("Pokemon's Defense mean is: ", mean_pokemon_defense)

Pokemon's Attack mean is:  79.00125
Pokemon's Defense mean is:  73.8425

In [132]:
stats.ttest_rel(pokemon['Attack'],pokemon['Defense'] )

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [133]:
# Your conclusions here:
print("From the ttest_rel result, pvalue is 1.71xe-05 which is 0.012(rounded off) which is less very less than 0.05 and hence null hypothesis is not acceptable!")

From the ttest_rel result, pvalue is 1.71xe-05 which is 0.012(rounded off) which is less very less than 0.05 and hence null hypothesis is not acceptable!

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [138]:
mean_pokemon_attack = pokemon['Sp. Atk'].mean()
mean_pokemon_defense = pokemon['Sp. Def'].mean()

print("Pokemon's Attack mean is: ", mean_pokemon_attack)
print("Pokemon's Defense mean is: ", mean_pokemon_defense)

Pokemon's Attack mean is:  72.82
Pokemon's Defense mean is:  71.9025

In [139]:
stats.ttest_rel(pokemon['Sp. Atk'],pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

In [29]:
# Your code here:

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [141]:
# Your conclusions here:
print("From the given result of ttest_rel, it is very cler that pvalue of this ttest higher than 0.05 and hence we accept the H0!")

From the given result of ttest_rel, it is very cler that pvalue of this ttest higher than 0.05 and hence we accept the H0!

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [151]:
pokemon['differece'] = pokemon['Attack'] - pokemon['Defense']

In [152]:
stats.ttest_1samp(pokemon['differece'], 0.0)

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [65]:
# Your code here:

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [153]:
print("We reject the null hypothesis here because we have pvalue which is smaller than 0.05!")

We reject the null hypothesis here because we have pvalue which is not zero!

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [182]:
# Your code here:
data_crosstab= pd.crosstab(pokemon['Legendary'], pokemon['Type 1'] == 'Water', margins = False)
data_crosstab

Type 1     False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [190]:
chi2, p_value, dof, expected_freq = chi2_contingency(data_crosstab, correction = True)
print("The Chi2 value is: ",(chi2))
print("chi2-critical value based on 95% confidence level is:", stats.chi2.ppf(0.95, 1))
print("The p-value is: ",p_value)
print("The number of degrees of freedom is: ",dof)
print("The expected frequencies are: ")
pd.DataFrame(expected_freq, columns=data_crosstab.columns, index=data_crosstab.index)

The Chi2 value is:  2.9429200762850503
chi2-critical value based on 95% confidence level is: 3.841458820694124
The p-value is:  0.08625467249550949
The number of degrees of freedom is:  1
The expected frequencies are:

Type 1     False  True
Legendary
False      632.1  102.9
True        55.9    9.1

Based on a 95% confidence, should we reject the null hypothesis?

In [191]:
# Your answer here:
print("chi2 value is 2.94(rounded off) which is less than our chi2 critical value (3.84) and hence we accept the null hypothesis and we conclude that Pokemon is legendary and type 1 is of water!")

chi2 value is 2.94(rounded off) which is less than our chi2 critical value (3.84) and hence we accept the null hypothesis and we conclude that Pokemon is legendary and type 1 is of water!