# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
pokemon["Legendary"].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

In [11]:
# Your code here:

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [5]:
legendary = pokemon[pokemon["Legendary"] == True]

In [6]:
mean_legendary = legendary["Total"].mean()

In [7]:
mean_legendary

637.3846153846154

In [9]:
std_legendary = legendary['Total'].std()
std_legendary

60.93738905315346

In [8]:
regular = pokemon[pokemon["Legendary"] == False]
mean_regular = regular["Total"].mean()
mean_regular

417.21360544217686

In [10]:
std_regular = regular['Total'].std()
std_regular

106.76041745713022

The mean of the Total for legendary pokemon is: 637.3846153846154
Standard deviation of the Total for legendary pokemon is: 60.93738905315346

The mean of the Total for non-legendary pokemon is: 417.21360544217686
Standard deviation of the Total for non-legendary pokemon is: 106.76041745713022

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [11]:
# Your code here:
from scipy import stats

In [12]:
stats.ttest_ind(legendary["Total"], regular["Total"], equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

In [15]:
zcritical = stats.norm.ppf(1-0.05/2)
zcritical

1.959963984540054

What do you conclude from this test? Write your conclusions below.

In [48]:
# Your conclusions here:
#The statistic is bigger than zcritical --> reject H0
#p < than alpha --> there is a significant difference between the mean of legendary and the mean of regular pokemon

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [30]:
# Your code here:

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ghost        32
Dragon       32
Ground       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

In [17]:
pokemon["Type 1"].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ground       32
Ghost        32
Dragon       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [25]:
# Your code here:

The Mean of Total for water pokemons is: 430.45535714285717
The Standard deviation for water pokemon is: 113.18826606431458

The Mean of Total for non-water pokemon is: 435.85901162790697
The Standard deviation for non-water pokemon is: 121.09168230208066

In [18]:
water_pokemon = pokemon[pokemon['Type 1']=='Water']
mean_water_pokemon = water_pokemon['Total'].mean()
mean_water_pokemon

430.45535714285717

In [20]:
std_water_pokemon = water_pokemon["Total"].std()
std_water_pokemon

113.18826606431458

In [22]:
all_pokemon_no_water = pokemon[pokemon['Type 1']!='Water']

In [24]:
mean_all_pokemon_no_water = all_pokemon_no_water["Total"].mean()
mean_all_pokemon_no_water

435.85901162790697

In [25]:
std_all_pokemon_no_water = all_pokemon_no_water["Total"].std()
std_all_pokemon_no_water

121.09168230208066

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [38]:
# Your code here:

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

In [28]:
stats.ttest_ind( water_pokemon['Total'],all_pokemon_no_water['Total'])

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [10]:
# p-value > 0.05 --> accept the null hypothesis of equal averages
#Water pokemon mean and the mean of the rest pokemon are not significantly different

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [27]:
# Your code here:

Pokemon's Attack mean is: 79.00125
Pokemon's Defense mean is: 73.8425

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [29]:
from scipy.stats import ttest_rel

In [31]:
mean_attack = np.mean(pokemon["Attack"])
mean_attack

79.00125

In [32]:
mean_defense = np.mean(pokemon["Defense"])
mean_defense

73.8425

In [33]:
ttest_rel(pokemon["Attack"], pokemon["Defense"])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [38]:
zcritical = stats.norm.ppf(1-(0.05/2))
zcritical

1.959963984540054

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:
#p-value < alpha --> reject null hypothesis
#significant difference between attack and defense

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

Pokemon's Attack mean is: 72.82
Pokemon's Defense mean is: 71.9025

In [29]:
# Your code here:

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

In [39]:
mean_special_attack = np.mean(pokemon['Sp. Atk'])
mean_special_attack

72.82

In [40]:
mean_special_defense = np.mean(pokemon["Sp. Def"])
mean_special_defense

71.9025

In [41]:
ttest_rel(pokemon['Sp. Atk'], pokemon["Sp. Def"])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

In [44]:
zcritical = stats.norm.ppf(1-(0.05/2))
zcritical

1.959963984540054

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:
#p-value > alpha --> do not reject null hypothesis
# no significant difference between special attack mean and special defense mean

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [65]:
# Your code here:

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [46]:
stats.ttest_1samp(pokemon["Attack"]-pokemon["Defense"], 0)

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [39]:
# Your code here:

Type 1     False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [56]:
# Your code here:

chi2 value is: 2.9429200762850503
chi2-critical value based on 95% confidence level is: 3.841458820694124
p-value is: 0.08625467249550949
Degrees of freedom: 1
Expected frequencies are:

Type 1     False  True
Legendary
False      632.1  102.9
True        55.9    9.1

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: