# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [27]:
# import numpy and pandas
import numpy as np
import pandas as pd
from scipy import stats

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [6]:
# Run this code:

pokemon_df = pd.read_csv('../pokemon.csv')
pokemon = pokemon_df.copy()

Let's start off by looking at the `head` function in the cell below.

In [8]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [5]:
# Your code here:

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [11]:
pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [ ]:
# Legendary pokemons

legendary_pokemons = pokemon[pokemon['Legendary'] == True]
legendary_pokemons

In [17]:
# Normal pokemons

normal_pokemons = pokemon[pokemon['Legendary'] == False]
normal_pokemons

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
787,711,GourgeistSuper Size,Ghost,Grass,494,85,100,122,58,75,54,6,False
788,712,Bergmite,Ice,NaN,304,55,69,85,32,35,28,6,False
789,713,Avalugg,Ice,NaN,514,95,117,184,44,46,28,6,False
790,714,Noibat,Flying,Dragon,245,40,30,35,45,40,55,6,False
791,715,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False

In [20]:
# Mean of legendary pokemon

mean_legendary_pokemons = np.mean(legendary_pokemons['Total'])
mean_legendary_pokemons

637.3846153846154

In [21]:
# Std of legendary pokemons

std_legendary_pokemons = np.std(legendary_pokemons['Total'])
std_legendary_pokemons

60.46682302213779

In [25]:
# Mean of normal pokemons

mean_normal_pokemons = np.mean(normal_pokemons['Total'])
mean_normal_pokemons

417.21360544217686

In [24]:
# Std of normal pokemons

std_normal_pokemons = np.std(normal_pokemons['Total'])
std_normal_pokemons

106.68776660321979

The mean of the Total for legendary pokemon is: 637.3846153846154
Standard deviation of the Total for legendary pokemon is: 60.93738905315346

The mean of the Total for non-legendary pokemon is: 417.21360544217686
Standard deviation of the Total for non-legendary pokemon is: 106.76041745713022

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [ ]:
# # Defining hypothesis

# Ho: legendary_pokemons['Total'] mean = normal_pokemons['Total'] mean
# Ha: legendary_pokemons['Total'] mean != normal_pokemons['Total'] mean

# Two sided t-test for independent samples

In [31]:
# What is the t score
tscore = stats.ttest_ind(legendary_pokemons['Total'], normal_pokemons['Total'], equal_var=False)
tscore

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957444e-47)

In [32]:
# What is the zcrit
zcrit = stats.norm.ppf(1-(0.05/2))
zcrit

1.959963984540054

What do you conclude from this test? Write your conclusions below.

In [48]:
# Your conclusions here:

# Our statistic value (tscore) is much bigger than our z critic value, so we can reject the null hypothesis.
# Also our pvalue = is much les than our alpha.
# In this case this means that there is a significant difference between total mean of legendary and total mean of normal pokemons

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [35]:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [62]:
# Water pokemons

water_pokemons = pokemon[pokemon['Type 1'] == 'Water']
water_pokemons

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
59,54,Psyduck,Water,NaN,320,50,52,48,65,50,55,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
724,656,Froakie,Water,NaN,314,41,56,40,62,44,71,6,False
725,657,Frogadier,Water,NaN,405,54,63,52,83,56,97,6,False
726,658,Greninja,Water,Dark,530,72,95,67,103,71,122,6,False
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False

In [63]:
# Non-water pokemons

non_water_pokemons = pokemon[pokemon['Type 1'] != 'Water']
non_water_pokemons

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [65]:
# Mean of water pokemons

mean_water_pokemons = np.mean(water_pokemons['Total'])
mean_water_pokemons

430.45535714285717

In [66]:
# Std of water pokemons

std_water_pokemons = np.std(water_pokemons['Total'])
std_water_pokemons

112.681828329091

In [67]:
# Mean of non-water pokemons

mean_non_water_pokemons = np.mean(non_water_pokemons['Total'])
mean_non_water_pokemons

435.85901162790697

In [68]:
# Std of non-water pokemons

std_non_water_pokemons = np.std(non_water_pokemons['Total'])
std_non_water_pokemons

121.00364762501172

In [25]:
# Your code here:

The Mean of Total for water pokemons is: 430.45535714285717
The Standard deviation for water pokemon is: 113.18826606431458

The Mean of Total for non-water pokemon is: 435.85901162790697
The Standard deviation for non-water pokemon is: 121.09168230208066

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [ ]:
# Defining hypothesis

# Ho: water_pokemons['Total'] mean = non_water_pokemons['Total'] mean
# Ha: water_pokemons['Total'] mean != non_water_pokemons['Total'] mean

# Two sided t-test for independent samples

In [73]:
# What is the t score
tscore = stats.ttest_ind(water_pokemons['Total'], non_water_pokemons['Total'], equal_var=True)
tscore

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

In [70]:
# What is the zcrit
zcrit = stats.norm.ppf(1-(0.05/2))
zcrit

1.959963984540054

Write your conclusion below.

In [10]:
# Your conclusions here:

# Our statistic value (tscore) is much lower than our z critic value, so we can't reject the null hypothesis. We have to accept it.

# Also our pvalue = is much bigger than our alpha.
# In this case this means that there are no significant difference between total mean of water and non-water pokemons

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [78]:
# Pokemon's Attack mean

mean_attack = np.mean(pokemon['Attack'])
mean_attack

79.00125

In [79]:
# Pokemon's Defense mean

mean_defense = np.mean(pokemon['Defense'])
mean_defense

73.8425

In [27]:
# Your code here:

Pokemon's Attack mean is: 79.00125
Pokemon's Defense mean is: 73.8425

In [ ]:
# Defining hypothesis

# Ho: There is no difference between attack and defense scores
# Ha: There is difference between atack and defense scores

# Ho: mean_attack = mean_defense
# Ho: mean_attack != mean_defense

# Two tailed paired T-test

In [82]:
# What is tscore value
tscore = stats.ttest_rel(pokemon['Attack'], pokemon['Defense'])
tscore

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [84]:
# What is zcritic value
zcrit = stats.norm.ppf(1-(0.05/2))
zcrit

1.959963984540054

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:

# our pvalue is much lower than alpha, therefore we can reject the null hupothesis.
# This measn that there is significant difference between atack and defense rate for each one pokemon

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [85]:
# Pokemon's special attack mean

mean_special_attack = np.mean(pokemon['Sp. Atk'])
mean_special_attack

72.82

In [86]:
# Pokemon's Defense mean

mean_special_deffence = np.mean(pokemon['Sp. Def'])
mean_special_deffence

71.9025

Pokemon's Attack mean is: 72.82
Pokemon's Defense mean is: 71.9025

In [ ]:
# Defining hypothesis

# Ho: There is no difference between special attack and defense scores
# Ha: There is difference between special atack and defense scores

# Ho: mean_special_attack = mean_special_defense
# Ho: mean_special_attack != mean_special_defense

# Two tailed paired T-test

In [87]:
# What is tscore value
tscore = stats.ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])
tscore

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

In [88]:
# What is zcritic value
zcrit = stats.norm.ppf(1-(0.05/2))
zcrit

1.959963984540054

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:


# our pvalue is much biger than alpha, therefore we can't reject the null hupothesis.
# This means that there isn't significant difference between special atack and defense rate for each one pokemon.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [94]:
# Difference between defence and attack

difference_between_attack_defence = pokemon['Attack'] - pokemon['Defense']
difference_between_attack_defence

0        0
1       -1
2       -1
3      -23
4        9
      ...
795    -50
796     50
797     50
798    100
799    -10
Length: 800, dtype: int64

In [ ]:
# Defining hypothesis

# Ho: There is no difference between defense and attack rates
# Ha: There is difference between defense and atack rates

# Ho: defense rate - attack rate = 0
# Ho: defense rate - attack rate != 0

# Two tailed one samlpe t-test

In [95]:
# T test

stats.ttest_1samp(difference_between_attack_defence, 0)

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [ ]:
# Our P-value is much less than the alpha level, so we can reject the null hypothesis.
# There is significant difference between atack and defense rate within pokemons
# Also we get to the same conclusion, when we performed the two tailed independet t test

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [39]:
# Your code here:

Type 1     False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [56]:
# Your code here:

chi2 value is: 2.9429200762850503
chi2-critical value based on 95% confidence level is: 3.841458820694124
p-value is: 0.08625467249550949
Degrees of freedom: 1
Expected frequencies are:

Type 1     False  True
Legendary
False      632.1  102.9
True        55.9    9.1

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: