# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [3]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [4]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [5]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [6]:
# Your code here:
pokemon["Legendary"].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [7]:
# Your code here:
a = pokemon[pokemon["Legendary"]== False]["Total"]
b = pokemon[pokemon["Legendary"]== True]["Total"]
legendary_mean = np.mean(b)

print("The mean of the Total for legendary pokemon is:",b.mean())
print("Standard deviation of the Total for legendary pokemon is:",np.std(b, ddof =1))

The mean of the Total for legendary pokemon is: 637.3846153846154
Standard deviation of the Total for legendary pokemon is: 60.93738905315346

In [8]:
legendary_mean

637.3846153846154

The mean of the Total for legendary pokemon is: 637.3846153846154
Standard deviation of the Total for legendary pokemon is: 60.93738905315346

In [9]:
print("The mean of the Total for non-legendary pokemon is:",a.mean())
print("Standard deviation of the Total for non- legendary pokemon is:",np.std(a, ddof = 1))

The mean of the Total for non-legendary pokemon is: 417.21360544217686
Standard deviation of the Total for non- legendary pokemon is: 106.76041745713022

In [10]:
nonlegendary_mean = np.mean(a)
nonlegendary_mean

417.21360544217686

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [11]:
# Your code here:
from scipy import stats

In [59]:
stats.ttest_ind(a,b, equal_var= False)

Ttest_indResult(statistic=-25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [48]:
# Your conclusions here:

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [12]:
# Your code here:
x = pokemon["Type 1"].value_counts()
x

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ghost        32
Ground       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [25]:
# Your code here:

The Mean of Total for water pokemons is: 430.45535714285717
The Standard deviation for water pokemon is: 113.18826606431458

The Mean of Total for non-water pokemon is: 435.85901162790697
The Standard deviation for non-water pokemon is: 121.09168230208066

In [15]:
water = pokemon[pokemon["Type 1"]== "Water"]["Total"]

np.mean(water)
#np.std(water, ddof =1)
non_water = pokemon[pokemon["Type 1"]!= "Water"]["Total"]
#np.mean(non_water)
#np.std(non_water, ddof =1)

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [16]:
# Your code here:
stats.ttest_ind(water,non_water, equal_var= True)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [10]:
# Your conclusions here:
# as the p value is above 0.05 the hypotheses that the means are equal need should not be rejected

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [20]:
# Your code here:
import scipy as sp
from scipy import stats

attack = pokemon["Attack"]
defense = pokemon["Defense"]
print(np.mean(pokemon["Attack"]))
print(np.mean(pokemon["Defense"]))

79.00125
73.8425

In [21]:
sp.stats.ttest_rel(attack,defense)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:
#The p value is very low, therefore the hypotheses must be rejected

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [81]:
pokemon.columns
special_attack = pokemon["Sp. Atk"]
special_defense = pokemon["Sp. Def"]
print(np.mean(special_attack))
print(np.mean(special_defense))

72.82
71.9025

In [82]:
# Your code here:
stats.ttest_rel(special_attack,special_defense)

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:

#the p-value is high and therefore it must not be rejected

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [65]:
# Your code here:

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [88]:
stats.ttest_1samp(attack - defense, 0)

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [127]:
# Your code here:

data_crosstab = pd.crosstab(pokemon["Legendary"],pokemon["Type 1"]== "Water")
data_crosstab

Type 1     False  True
Legendary
False        627    108
True          61      4

Type 1     False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [56]:
# Your code here:

chi2 value is: 2.9429200762850503
chi2-critical value based on 95% confidence level is: 3.841458820694124
p-value is: 0.08625467249550949
Degrees of freedom: 1
Expected frequencies are:

Type 1     False  True
Legendary
False      632.1  102.9
True        55.9    9.1

In [131]:
from scipy.stats import chi2_contingency
chi2, p_value, dof, expected_freq = chi2_contingency(data_crosstab)

print("Chi2 value is: ",chi2)
print("The p-value is: ",p_value)
print("The number of degrees of freedom is: ",dof)
print("The expected frequencies are: ")
pd.DataFrame(expected_freq, columns=data_crosstab.columns, index=data_crosstab.index)

Chi2 value is:  2.9429200762850503
The p-value is:  0.08625467249550949
The number of degrees of freedom is:  1
The expected frequencies are:

Type 1     False  True
Legendary
False      632.1  102.9
True        55.9    9.1

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: