# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [138]:
import numpy as np
import pandas as pd
from scipy import stats

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [78]:
pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [79]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [80]:
pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

In [81]:
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [153]:
legendary = pokemon[pokemon['Legendary'] == True]['Total']
print("Legendary mean is:",legendary.mean())
print("Legendary std is:",legendary.std())     

non_legendary = pokemon[pokemon['Legendary'] != True]['Total']
print("Non-legendary mean is:",non_legendary.mean())
print("Non-legendary std is:",non_legendary.std())

Legendary mean is: 637.3846153846154
Legendary std is: 60.93738905315346
Non-legendary mean is: 417.21360544217686
Non-legendary std is: 106.76041745713022

In [174]:
legendary2 = pokemon[pokemon['Legendary'] == True]
legendary2.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [242]:
#Let's compute our statistic

t,p = ttest_ind(legendary, non_legendary, equal_var=False)

t

25.8335743895517

In [243]:
# To compute the critical value with the t-Student distribution

tc = stats.t.ppf(1-(0.05/2),df = legendary.count()-1)

print("The tc critical value is:",tc)

if t > tc:
    print("As t > tc we are in the rejection region; therefore we reject the null Hypothesis.")
else:
    print("we are not in the rejection region; therefore we don't reject the null hypothesis.")

The tc critical value is: 1.9977296536259734
As t > tc we are in the rejection region; therefore we reject the null Hypothesis.

What do you conclude from this test? Write your conclusions below.

In [6]:
# Legendary pokemon have a significant difference in total points against the non-legendary pokemon.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [24]:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ghost        32
Ground       32
Dragon       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [247]:
water = pokemon[pokemon['Type 1'] == 'Water']['Total']
print("Water pokemon mean is:",water.mean())
print("Water std is:",water.std())     

other = pokemon[pokemon['Type 1'] != 'Water']['Total']
print("Other pokemon mean is:",other.mean())
print("Other pokemon std is:",other.std())

Water pokemon mean is: 430.45535714285717
Water std is: 113.18826606431458
Other pokemon mean is: 435.85901162790697
Other pokemon std is: 121.09168230208066

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [251]:
t,p = stats.ttest_ind(water, other, equal_var=True)

t

-0.4418547448849676

In [250]:
# To compute the critical value with a normal distribution 

tc = stats.t.ppf(1-(0.05/2),df=water.count()-1)

print("The tc critical value is:",tc)

if t > tc:
    print("As t > tc we are in the rejection region; therefore we reject the null Hypothesis.")
else:
    print("we are not in the rejection region; therefore we don't reject the null hypothesis.")

The tc critical value is: 1.9815667570310707
we are not in the rejection region; therefore we don't reject the null hypothesis.

Write your conclusion below.

In [159]:
# Water pokemons don't have a significant difference in total points against the non-water type pokemon.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. <span class="mark">Our hypothesis is that the defense and attack scores are equal.</span> In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [166]:
attack = pokemon['Attack']
defense = pokemon['Defense']

t,p = stats.ttest_rel(attack,defense)

if p > 0.05:
    print("We can not reject the null hypothesis of identical attack and defense scores")
else:
    print("We reject the null hypothesis of identical attack and defense scores. P-value",p)

We reject the null hypothesis of identical attack and defense scores. P-value 1.7140303479358558e-05

<span class="burk">Examples for use are scores of the same set of student in different exams, or repeated sampling from the same units. The test measures whether the average score differs significantly across samples (e.g. exams). If we observe a large p-value, for example greater than 0.05 or 0.1 then we cannot reject the null hypothesis of identical average scores. If the p-value is smaller than the threshold, e.g. 1%, 5% or 10%, then we reject the null hypothesis of equal averages. Small p-values are associated with large t-statistics.</span>

Describe the results of the test in the cell below.

In [12]:
# We reject the null hypothesis of identical attack and defense scores

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [177]:
sp_attack = pokemon['Sp. Atk']
sp_defense = pokemon['Sp. Def']

t,p = stats.ttest_rel(sp_attack,sp_defense)

if p > 0.05:
    print("We can not reject the null hypothesis of identical attack and defense scores. P-Value:",p)
else:
    print("We reject the null hypothesis of identical attack and defense scores")

We can not reject the null hypothesis of identical attack and defense scores. P-Value: 0.3933685997548122

Describe the results of the test in the cell below.

In [14]:
# We can not reject the null hypothesis of identical attack and defense scores.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. <span class="mark">Test the hypothesis that the difference between the means is zero</span>. Confirm that the results of the test are the same.

In [232]:
att = pokemon["Attack"]
dfense = pokemon["Defense"]

att = att.array
dfense = dfense.array

dif = att - dfense

t,p = stats.ttest_1samp(dif,0.0)       

if p > 0.05:
    print("We can not reject the null hypothesis of identical attack and defense scores. P-Value:",p)
else:
    print("We reject the null hypothesis of identical attack and defense scores")

We reject the null hypothesis of identical attack and defense scores

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [257]:
cross = pd.crosstab(pokemon["Legendary"], pokemon["Type 1"]=='Water')

cross

Type 1     False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [267]:
chi2, p, dof, ex = stats.chi2_contingency(cross, correction=True)

print(chi2)
print(p)
print(dof)
print(ex)

2.9429200762850503
0.08625467249550949
1
[[632.1 102.9]
 [ 55.9   9.1]]

Based on a 95% confidence, should we reject the null hypothesis?

In [268]:
if p > 0.05:
    print("We can not reject the null hypothesis",p)
else:
    print("We reject the null hypothesis")

We can not reject the null hypothesis 0.08625467249550949