<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Before-your-start:" data-toc-modified-id="Before-your-start:-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Before your start:</a></span></li><li><span><a href="#Challenge-1---Independent-Sample-T-tests" data-toc-modified-id="Challenge-1---Independent-Sample-T-tests-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Challenge 1 - Independent Sample T-tests</a></span></li><li><span><a href="#Challenge-2---Matched-Pairs-Test" data-toc-modified-id="Challenge-2---Matched-Pairs-Test-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Challenge 2 - Matched Pairs Test</a></span></li><li><span><a href="#Bonus-Challenge---The-Chi-Square-Test" data-toc-modified-id="Bonus-Challenge---The-Chi-Square-Test-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Bonus Challenge - The Chi-Square Test</a></span></li></ul></div>

# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
pokemon["Legendary"].value_counts()
#we have 735 pokemon that are non legendary and 65 legendary

False    735
True      65
Name: Legendary, dtype: int64

In [12]:
pokemon.groupby("Legendary")["Total"].describe()

           count        mean         std    min    25%    50%    75%    max
Legendary
False      735.0  417.213605  106.760417  180.0  324.0  425.0  498.0  700.0
True        65.0  637.384615   60.937389  580.0  580.0  600.0  680.0  780.0

In [17]:
total_mean_legendary = pokemon.groupby("Legendary")["Total"].describe()["mean"][1]
total_mean_legendary

637.3846153846154

In [18]:
total_mean_no_legendary = pokemon.groupby("Legendary")["Total"].describe()["mean"][0]
total_mean_no_legendary

417.21360544217686

In [20]:
total_std_legendary = pokemon.groupby("Legendary")["Total"].describe()["std"][1]
total_std_legendary

60.93738905315346

In [25]:
total_std_no_legendary = pokemon.groupby("Legendary")["Total"].describe()["std"][0]
total_std_no_legendary

106.76041745713022

In [22]:
print(f"The mean of the Total for legendary pokemon is: {total_mean_legendary}")
print(f"Standard deviation of the Total for legendary pokemon is: {total_std_legendary}" )
print("")
print(f"The mean of the Total for non-legendary pokemon is: {total_mean_no_legendary}")
print(f"Standard deviation of the Total for non-legendary pokemon is: {total_std_no_legendary}" )

The mean of the Total for legendary pokemon is: 637.3846153846154
Standard deviation of the Total for legendary pokemon is: 60.93738905315346

The mean of the Total for non-legendary pokemon is: 417.21360544217686
Standard deviation of the Total for non-legendary pokemon is: 106.76041745713022

In [33]:
pokemon_legendary = pokemon[pokemon["Legendary"] == True]["Total"]
pokemon_legendary

156    580
157    580
158    580
162    680
163    780
      ...
795    600
796    700
797    600
798    680
799    600
Name: Total, Length: 65, dtype: int64

In [34]:
pokemon_no_legendary = pokemon[pokemon["Legendary"] == False]["Total"]
pokemon_no_legendary

0      318
1      405
2      525
3      625
4      309
      ...
787    494
788    304
789    514
790    245
791    535
Name: Total, Length: 735, dtype: int64

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [ ]:
#Ho:mean.legendary= mean.no_legendary
#ha: mean.legendary - mean.no_legendary > 0 
#one tail test, right tail
# 95 % significane level
# t-test of two independent means

In [ ]:
#scipy.stats.ttest_ind(a, b, equal_var=True)
# If True (default), perform a standard independent 2 sample test that assumes equal population variances [1]. 
#If False, perform Welch’s t-test, which does not assume equal population variance
# In statistics, Welch's t-test, or unequal variances t-test, is a two-sample location test which is used 
#to test the hypothesis that two populations have equal means. It is named for its creator, Bernard Lewis Welch,
# and is an adaptation of Student's t-test,[1] and is more reliable when the two samples have unequal 
# variances and/or unequal sample size.

In [38]:
# Your code here:
from scipy import stats

In [35]:
stats.ttest_ind(pokemon_legendary,pokemon_no_legendary , equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

In [42]:
stats.norm.ppf(1-(0.05))

1.6448536269514722

What do you conclude from this test? Write your conclusions below.

In [48]:
# If we consider 95 % significane level,  p-value<<< alpha(0.05)
# If we look at the z-score and compare it with the statistic T(25,833) >>> Zcritical(1.64)
#We then will reject the null hypothesis, that asumes the means to be equal. We will conclude the legendary
#are have significatnlly higer  total points than the non legendary.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [43]:
pokemon["Type 1"].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [50]:
pokemon[pokemon["Type 1"]=="Water"]
pokemon_water_points = pokemon[pokemon["Type 1"]=="Water"]["Total"]

In [49]:
pokemon[pokemon["Type 1"]!="Water"]
pokemon_no_water_points = pokemon[pokemon["Type 1"]!="Water"]["Total"]

In [54]:
print(f"The Mean of Total for water pokemons is: {pokemon_water_points.mean()}")
print(f"The Standard deviation for water pokemon is: {pokemon_water_points.std()}")

The Mean of Total for water pokemons is: 430.45535714285717
The Standard deviation for water pokemon is: 113.18826606431458

In [53]:
print(f"The Mean of Total for water pokemons is: {pokemon_no_water_points.mean()}")
print(f"The Standard deviation for non-water pokemon is: {pokemon_no_water_points.std()}")

The Mean of Total for water pokemons is: 435.85901162790697
The Standard deviation for non-water pokemon is: 121.09168230208066

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [ ]:
#The variances are equal
# Ho : mean_water_pokemon = mean_no_water pokemon
# Ha:  mean_water_pokemon ! = mean_no_water pokemon
# 95 % significane level
# t-test, two tails
#Calculate the T-test for the means of two independent samples of scores: stats.ttest_ind

In [58]:
stats.ttest_ind(pokemon_water_points,pokemon_no_water_points, equal_var=True)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

In [61]:
stats.norm.ppf(1-(0.05/2))

1.959963984540054

In [60]:
stats.norm.ppf(0.05/2)

-1.9599639845400545

Write your conclusion below.

In [10]:
# The statistical falls in the acceptance are -1.96<-0.44<1.96, we don't reject the null hypotesis.
# We don't find sifnificative differences in the total point between water and non water pokemons.
# That means a pokemon will not score more points for the fact of being water.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [ ]:
# compare the two columns to see if there is a statistically significant difference between them
#we compare the same pokemon in two conditions, attack and defense, that is why they are pair

In [ ]:
#ho: equal means Our hypothesis is that the defense and attack scores are equal. 
# ha : unequal means
#95 % significane level, alpha 0.05, 0.025 each side
# two tail test
#Calculate the t-test on TWO RELATED samples of scores, a and b. Matched pairs test: ttest_rel

In [68]:
print(f"Pokemon's Atack mean is: {pokemon.Attack.mean()}")
print(f"Pokemon's Defende mean is: {pokemon.Defense.mean()}")

Pokemon's Attach mean is: 79.00125
Pokemon's Attach mean is: 73.8425

In [72]:
stats.ttest_rel(pokemon.Attack,pokemon.Defense)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [75]:
stats.t.ppf(0.05/2,df=len(pokemon)-1)

-1.962937461105606

In [76]:
stats.t.ppf(1- (0.05/2),df=len(pokemon)-1)

1.9629374611056056

Describe the results of the test in the cell below.

In [12]:
#The p-value < alpha
# tstatistic > Zcritical
#Therefore we reject the Ho, concluding that there are significative differences between attack 
# and defense score within pokemon

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [ ]:
#ho:equal means
#ha:unequal mean
# two tail test, t-test for pair variables (dependent)
#95 % significane level

In [86]:
sp_def_mean = pokemon["Sp. Def"].mean()

In [87]:
sp_attack_mean = pokemon["Sp. Atk"].mean()

In [88]:
print(f"Pokemon's Special Attack mean is: {sp_attack_mean }")
print(f"Pokemon's Special Defense mean is: {sp_def_mean}")

Pokemon's Special Attack mean is: 72.82
Pokemon's Special Defense mean is: 71.9025

In [90]:
stats.ttest_rel(pokemon["Sp. Atk"],pokemon["Sp. Def"])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

In [91]:
stats.t.ppf(0.05/2,df=len(pokemon)-1)

-1.962937461105606

In [92]:
stats.t.ppf(1- (0.05/2),df=len(pokemon)-1)

1.9629374611056056

Describe the results of the test in the cell below.

In [14]:
# the p-value > significance level (0.05)
# -1.96 (-tcritical)< 0.84(t-score statistic) < 1.96(+tcritical)
# We can not reject Ho. We can not say that there are significant differences between special Attack and Score 
#for the pokemon

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [117]:
pokemon_dif_atk_def = pokemon["Attack"] - pokemon["Defense"]
pokemon_dif_atk_def

0        0
1       -1
2       -1
3      -23
4        9
      ...
795    -50
796     50
797     50
798    100
799    -10
Length: 800, dtype: int64

In [118]:
pokemon_dif_atk_def_mean = pokemon_dif_atk_def.mean()
pokemon_dif_atk_def_mean

5.15875

In [119]:
# Test the hypothesis that the difference between the means is zero
# H0:μ1−μ2=0 
# H0:μ1−μ2 !=0
#95 % confidence level
#two tail, t-test 1 sample

In [120]:
#a, popmean, axis=0, nan_policy='propagate', alternative='two-sided')[source]¶
stats.ttest_1samp(pokemon_dif_atk_def,popmean = 0)

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [121]:
stats.t.ppf(0.05/2,df=len(pokemon)-1)

-1.962937461105606

In [122]:
stats.t.ppf(1-(0.05/2),df=len(pokemon)-1)

1.9629374611056056

In [65]:
# p value > 0.05
# -1.96 < 1.96 < 4.32
# The t statistic is in the rejection area, we reject ho, therefore the sample belongs to the same population,
#meaning that there are no significative differences between Defense score and Attach.

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [113]:
pokemon.loc[pokemon["Type 1"]=="Water"]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
59,54,Psyduck,Water,NaN,320,50,52,48,65,50,55,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
724,656,Froakie,Water,NaN,314,41,56,40,62,44,71,6,False
725,657,Frogadier,Water,NaN,405,54,63,52,83,56,97,6,False
726,658,Greninja,Water,Dark,530,72,95,67,103,71,122,6,False
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False

In [116]:
pokemon.loc[pokemon["Type 1"]!="Water","Type 1"] = "No_water

0        Grass
1        Grass
2        Grass
3        Grass
4         Fire
        ...
795       Rock
796       Rock
797    Psychic
798    Psychic
799       Fire
Name: Type 1, Length: 688, dtype: object

In [106]:
pd.crosstab(pokemon["Legendary"],pokemon["Type 1"])

Type 1,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
Legendary,,,,,,,,,,,,,,,,,,
False,69,29,20,40,16,27,47,2,30,67,28,22,96,28,43,40,23,108
True,0,2,12,4,1,0,5,2,2,3,4,2,2,0,14,4,4,4

Type 1     False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [56]:
# Your code here:

chi2 value is: 2.9429200762850503
chi2-critical value based on 95% confidence level is: 3.841458820694124
p-value is: 0.08625467249550949
Degrees of freedom: 1
Expected frequencies are:

Type 1     False  True
Legendary
False      632.1  102.9
True        55.9    9.1

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: