# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [5]:
# Your code here:

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [5]:
pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

In [11]:
# Your code here:

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [19]:
legen = pokemon[pokemon['Legendary'] == True]['Total']

legen_mean = pokemon[pokemon['Legendary'] == True]['Total'].mean()


legen_stdev = np.std(legen, ddof = 1)
#legen_stdev
#ddof = 1
print('The mean of the Total for legendary pokemon is:', legen_mean)
print('Standard deviation of the Total for legendary pokemon is:', legen_stdev)

The mean of the Total for legendary pokemon is: 637.3846153846154
Standard deviation of the Total for legendary pokemon is: 60.93738905315346

In [8]:
# Your code here:

The mean of the Total for legendary pokemon is: 637.3846153846154
Standard deviation of the Total for legendary pokemon is: 60.93738905315346

In [22]:
nonlegen = pokemon[pokemon['Legendary'] == False]['Total']

nonlegen_mean = pokemon[pokemon['Legendary'] == False]['Total'].mean()

#pokemon['Total'].mean()

nonlegen_stdev = np.std(nonlegen, ddof = 1)


print('The mean of the Total for non-legendary pokemon is:', nonlegen_mean)
print('Standard deviation of the Total for non-legendary pokemon is:', nonlegen_stdev)

The mean of the Total for non-legendary pokemon is: 417.21360544217686
Standard deviation of the Total for non-legendary pokemon is: 106.76041745713022

The mean of the Total for non-legendary pokemon is: 417.21360544217686
Standard deviation of the Total for non-legendary pokemon is: 106.76041745713022

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [35]:
from scipy import stats

answer1 = stats.ttest_ind(legen, nonlegen, equal_var=False)
answer1

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

In [16]:
# Your code here:
from scipy import stats

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [48]:
#The probability of getting our data if Ho is true is too small. Therefore we reject Ho.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [30]:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ghost        32
Ground       32
Dragon       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [41]:
water = pokemon[pokemon['Type 1'] == 'Water']['Total']

water_mean = water.mean()

water_stdev = np.std(water, ddof = 1)



non_water = pokemon[pokemon['Type 1'] != 'Water']['Total']

non_water_mean = non_water.mean()

non_water_stdev = np.std(non_water, ddof = 1)

print('The Mean of Total for water pokemons is:', water_mean)
print('The Standard deviation for water pokemon is:', water_stdev)

print('The Mean of Total for non-water pokemon is:', non_water_mean)
print('The Standard deviation for non-water pokemon is:', non_water_stdev)

The Mean of Total for water pokemons is: 430.45535714285717
The Standard deviation for water pokemon is: 113.18826606431458
The Mean of Total for non-water pokemon is: 435.85901162790697
The Standard deviation for non-water pokemon is: 121.09168230208066

In [25]:
# Your code here:

The Mean of Total for water pokemons is: 430.45535714285717
The Standard deviation for water pokemon is: 113.18826606431458

The Mean of Total for non-water pokemon is: 435.85901162790697
The Standard deviation for non-water pokemon is: 121.09168230208066

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [43]:
answer2 = stats.ttest_ind(water, non_water)
answer2

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [10]:
The p-value indicates that we should accept the Ho.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [46]:
attack = pokemon['Attack']

defense = pokemon['Defense']

att_mean = attack.mean()

def_mean = defense.mean()



print("Pokemon's Attack mean is:", att_mean)
print("Pokemon's Defense mean is:", def_mean)

79.00125 73.8425
Pokemon's Attack mean is: 79.00125
Pokemon's Defense mean is: 73.8425

In [49]:
answertestrel = stats.ttest_rel(attack, defense)
answertestrel

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [12]:
The p-value of the test is quite small, therefore we should reject the Ho.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [50]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [53]:
spatk = pokemon['Sp. Atk']

spdef = pokemon['Sp. Def']

spatk_mean = spatk.mean()

spdef_mean = spdef.mean()



print("Pokemon's Special Attack mean is:", spatk_mean)
print("Pokemon's Special Defense mean is:", spdef_mean)

Pokemon's Special Attack mean is: 72.82
Pokemon's Special Defense mean is: 71.9025

In [54]:
answertestrelsp = stats.ttest_rel(spatk, spdef)
answertestrelsp

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
We can conclude that we should accept the Ho because of the probability that we 'find' our data if Ho = True

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [131]:
att_mean - def_mean

5.158749999999998

In [130]:
s = pokemon[['Defense','Attack']]

s.mean()

Defense    73.84250
Attack     79.00125
dtype: float64

In [132]:
diff_att_def = pokemon['Defense'] - pokemon['Attack']

att_one_sample = stats.ttest_1samp(diff_att_def, 0)
att_one_sample

Ttest_1sampResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

In [65]:
# Your code here:

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [39]:
# Your code here:

Type 1     False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [56]:
# Your code here:

chi2 value is: 2.9429200762850503
chi2-critical value based on 95% confidence level is: 3.841458820694124
p-value is: 0.08625467249550949
Degrees of freedom: 1
Expected frequencies are:

Type 1     False  True
Legendary
False      632.1  102.9
True        55.9    9.1

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: