# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [17]:
import numpy as np
import pandas as pd
import scipy.stats as st

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [48]:
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [24]:
legt = pokemon[pokemon['Legendary']==True]['Total']
nonlegt = pokemon[pokemon['Legendary']==False]['Total']

nlt_mean = nonlegt.mean()
nlt_std = nonlegt.std()

lt_mean = legt.mean()
lt_std = legt.std()

t = (lt_mean-nlt_mean)/np.sqrt(lt_std**2/len(legt)+nlt_std**2/len(nonlegt))
t

25.83357438955169

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [44]:
t , p = st.ttest_ind(legt,nonlegt,equal_var=False)
print('t =',t)
CL = 0.95
if p < 1-CL:
    print('We reject the null hypothesis with 95% CL. p-value = {:.4}'.format(p))
else:
    print("We don't reject the null hypothesis with 95% CL. p-value = {:.4}".format(p))

t = 25.8335743895517
We reject the null hypothesis with 95% CL. p-value = 9.358e-47

What do you conclude from this test? Write your conclusions below.

In [38]:
# Legendary pokemons have a significantly higher 'Total points' value

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [39]:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ghost        32
Dragon       32
Ground       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [62]:
water = pokemon[pokemon['Type 1']=='Water']['Total']
other = pokemon[pokemon['Type 1']!='Water']['Total']

print(water.mean())
print(other.mean())

430.45535714285717
435.85901162790697

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [45]:
tw , pw = st.ttest_ind(water,other)

print('t =',tw)

CL = 0.95
if pw < 1-CL:
    print('We reject the null hypothesis with 95% CL. p-value = {:.4}'.format(pw))
else:
    print("We don't reject the null hypothesis with 95% CL. p-value = {:.4}".format(pw))

t = -0.4418547448849676
We don't reject the null hypothesis with 95% CL. p-value = 0.6587

Write your conclusion below.

In [46]:
# Water-type pokemons don't have a significantly different 'Total points' value than non-water-type pokemons

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [64]:
t2 , p2 = st.ttest_rel(pokemon['Attack'],pokemon['Defense'])

print('t =',t2)
CL = 0.95
if p2 < 1-CL:
    print('We reject the null hypothesis with 95% CL. p-value = {:.4}'.format(p2))
else:
    print("We don't reject the null hypothesis with 95% CL. p-value = {:.4}".format(p2))

t = 4.325566393330478
We reject the null hypothesis with 95% CL. p-value = 1.714e-05

Describe the results of the test in the cell below.

In [12]:
# The 'Attack' and 'Defense' values are significantly different

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [68]:
t3 , p3 = st.ttest_rel(pokemon['Sp. Atk'],pokemon['Sp. Def'])

print('t =',t3)
CL = 0.95
if p3 < 1-CL:
    print('We reject the null hypothesis with 95% CL. p-value = {:.4}'.format(p3))
else:
    print("We don't reject the null hypothesis with 95% CL. p-value = {:.4}".format(p3))

t = 0.853986188453353
We don't reject the null hypothesis with 95% CL. p-value = 0.3934

Describe the results of the test in the cell below.

In [14]:
# The special defense and special attack are not significantly different

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [71]:
t4 , p4 = st.ttest_1samp(pokemon['Attack']-pokemon['Defense'],0)

print('t =',t4)
CL = 0.95
if p4 < 1-CL:
    print('We reject the null hypothesis with 95% CL. p-value = {:.4}'.format(p4))
else:
    print("We don't reject the null hypothesis with 95% CL. p-value = {:.4}".format(p4))
    
#We get the same result:

print(t4==t2)
print(p4==p2)

t = 4.325566393330478
We reject the null hypothesis with 95% CL. p-value = 1.714e-05
True
True

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [75]:
water_leg = pd.crosstab(pokemon['Legendary'],pokemon['Type 1']=='Water')

water_leg

Type 1     False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [81]:
chi2 , p , dof , expected =  st.chi2_contingency(water_leg)

print('chi2 =',chi2)
print('p =',p)
print('dof =',dof)
print('expected =',expected)

print('\n')

CL = 0.95
if p < 1-CL:
    print('We reject the null hypothesis with 95% CL. p-value = {:.4}'.format(p4))
else:
    print("We don't reject the null hypothesis with 95% CL. p-value = {:.4}".format(p4))

chi2 = 2.9429200762850503
p = 0.08625467249550949
dof = 1
expected = [[632.1 102.9]
 [ 55.9   9.1]]


We don't reject the null hypothesis with 95% CL. p-value = 1.714e-05

Based on a 95% confidence, should we reject the null hypothesis?

In [82]:
# No