# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [6]:
# import numpy and pandas
import numpy as np
import pandas as pd
from scipy.stats import stats

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [7]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [8]:
pokemon.head(3)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
pokemon.Legendary.value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [12]:
#getting the datasets for each type (legendary/non-legendary)
legendary = pokemon[pokemon['Legendary']==True] 
#question: Why does it not work if True is in a string ('True')?
non_legendary = pokemon.loc[pokemon['Legendary']==False]
legendary.head(3)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [10]:
# calculating means
leg_mean = legendary['Total'].mean()
nleg_mean = non_legendary['Total'].mean()
print("The sample mean of legendary pokemon: {:.2f}".format(leg_mean))
print("The sample mean of non legendary pokemon: {:.2f}".format(nleg_mean))

The sample mean of legendary pokemon: 637.38
The sample mean of non legendary pokemon: 417.21

In [34]:
# calculating ttest_ind

t, p = stats.ttest_ind(legendary['Total'], non_legendary['Total'], equal_var = False)
print('The t-value is:', t)
print('The p-value is:', p)

# significant difference total point values

The t-value is: 25.8335743895517
The p-value is: 9.357954335957446e-47

What do you conclude from this test? Write your conclusions below.

- the total points are significantly different between the legendary and non-legendary Pokemon

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [22]:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ghost        32
Ground       32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [15]:
#getting water dataframe
water = pokemon.loc[pokemon['Type 1'] == 'Water']

#getting dataframe with all types except water
no_water = pokemon.loc[pokemon['Type 1'] != 'Water']

In [16]:
#getting means and standard deviation

mean_water = water['Total'].mean()
mean_no_water = no_water['Total'].mean()

print("The mean of water pokemon: {:.2f}".format(mean_water))
print("The mean of non water pokemon: {:.2f}".format(mean_no_water), "\n")

std_water = water['Total'].std()
std_no_water = no_water['Total'].std()

print("The standard deviation of legendary pokemon: {:.2f}".format(std_water))
print("The standard deviation of non legendary pokemon: {:.2f}".format(std_no_water))

The mean of water pokemon: 430.46
The mean of non water pokemon: 435.86

The standard deviation of legendary pokemon: 113.19
The standard deviation of non legendary pokemon: 121.09

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [30]:
t, p = stats.ttest_ind(water['Total'], no_water['Total'])
print('The t-value is:', t)
print('The p-value is:', p)

The t-value is: -0.4418547448849676
The p-value is: 0.6587140317488793

Write your conclusion below.

- the mean of total points for water and non-water Pokemon are not significantly different

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [39]:
#testing

t, p = stats.ttest_rel(pokemon[['Attack']], pokemon[['Defense']])
print('The t-value is:', t)
print('The p-value is:', p)

The t-value is: [4.32556639]
The p-value is: [1.71403035e-05]

Describe the results of the test in the cell below.

- there is a significant difference between the attack and defense scores

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [40]:
t, p = stats.ttest_ind(pokemon[['Sp. Atk']], pokemon[['Sp. Def']])
print('The t-value is:', t)
print('The p-value is:', p)

The t-value is: [0.604129]
The p-value is: [0.54584363]

Describe the results of the test in the cell below.

- there is no significant difference between the mean of the special defense and the mean of the special attack

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [24]:
differences = pokemon['Attack']-pokemon['Defense']
diff_mean = differences.mean()

In [38]:
t, p = stats.ttest_1samp(pokemon['Attack']-pokemon['Defense'], 0)
print('The t-value is:', t)
print('The p-value is:', p)

The t-value is: 4.325566393330478
The p-value is: 1.7140303479358558e-05

- there is a significant difference between the mean of the attack and the mean of the defense

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: